body {
  font-family: sans-serif;
}

.card {
  width: 40%;
  margin: auto;
  text-align: center;
}

.card h1 {
  margin: 40px 0px;
}

.inputComLabel {
  margin: 15px 0px;
}

.inputComLabel input {
  width: 30%;
}

.divBotao {
  margin-top: 30px;
}

.divBotao button {
  background-color: white;
  border: none;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 2px 2px 2px gray;
}

.divTabela {
  width: 40%;
  margin: auto;
  margin-top: 80px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lightgray;
  text-align: left;
  padding: 5px;
  font-weight: 200;
}

td {
  width: 20%;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
  text-align: left;
}

tr:hover {
  background-color: lightgray;
  color: white;
}
